{% include base_path %}

<section id="teaching">
<h2>Teaching</h2>
<style type="text/css">
  .tg  {border:none;border-collapse:collapse;border-spacing:0;}
  .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
    padding:5px 5px;word-break:normal;}
  .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
    overflow:hidden;padding:5px 5px;word-break:normal;}
  .tg .tg-m916l{border-color:#000000;font-size:16px;text-align:left;vertical-align:top}
  .tg .tg-m916{border-color:#000000;font-size:16px;text-align:left;vertical-align:top}
  </style>
  <table class="tg">
  <tbody>
    <!-- DISCO 2024 -->
    <tr>
      <td class="tg-m916l">Spring 2024</td>
      <td class="tg-m916"><span style="font-weight:bold">Seminar in Deep Neural Networks</span></td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"><span style="font-style:italic">Teaching Assistant, ETH Zürich</span></td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"> Supervision of groups of students in preparation to their seminar talk.</td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"><a href="https://disco.ethz.ch/courses/seminar/">[<span style="font-weight:bold">Webpage</span>]</a></td>
    </tr>
    <!-- RL 2023 -->
    <tr>
      <td class="tg-m916l">Spring 2023</td>
      <td class="tg-m916"><span style="font-weight:bold">Robot Learning</span></td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"><span style="font-style:italic">Teaching Assistant, ETH Zürich</span></td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"> Preparation of homeworks on continual domain adaptation for object detection.</td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"><a href="https://www.vvz.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?semkez=2023S&ansicht=ALLE&lerneinheitId=169228&lang=en">[<span style="font-weight:bold">Webpage</span>]</a></td>
    </tr>
    <!-- RL 2022 -->
    <tr>
      <td class="tg-m916l">Spring 2022</td>
      <td class="tg-m916"><span style="font-weight:bold">Robot Learning</span></td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"><span style="font-style:italic">Teaching Assistant, ETH Zürich</span></td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"> 
        Supervision of a group project on anomaly detection for object detection; <br>
        Preparation of homeworks on continual domain adaptation for object detection.
      </td>
    </tr>
    <tr>
      <td class="tg-m916l"></td>
      <td class="tg-m916"><a href="https://www.vvz.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?semkez=2022S&ansicht=ALLE&lerneinheitId=161281&lang=en">[<span style="font-weight:bold">Webpage</span>]</a></td>
    </tr>
  </tbody>
  </table>
</section>

