{% include base_path %}
  
<section id="about">
  <h2>About Me</h2>
  <p style="text-align: justify;">
      I am a PhD candidate at the <a href="https://vision.ee.ethz.ch/" target="_blank" rel="noopener noreferrer">Computer Vision Lab</a> at ETH Zurich, co-supervised by Prof. Luc Van Gool and Prof. Bernt Schiele. As a member of the <a href="https://learning-systems.org/" target="_blank" rel="noopener noreferrer">Max Planck ETH Center for Learning Systems</a>, I recently visited the <a href="https://www.mpi-inf.mpg.de/departments/computer-vision-and-machine-learning/" target="_blank" rel="noopener noreferrer">Computer Vision and Machine Learning Department</a> at the Max Planck Institute for Informatics, working with Prof. Bernt Schiele. 
      <br><br>
      Currently, I am a student researcher at Google, contributing to Federico Tombari's team. My research focuses on advancing multiple object tracking methods that can learn end-to-end from long video sequences, adapt dynamically, and leverages limited annotations in a self-supervised fashion. Additionally, I have worked on foundation models for object tracking and depth estimation.
      <br><br>
      In the past, I explored fundamental challenges in deep learning, including domain generalization and uncertainty estimation.
  </p>
</section>