{% include base_path %}

<section id="news">
<h2>News</h2>
<ul>
<li>
    <span style="font-weight:bold">[2024/07]</span> 2 papers accepted at ECCV 2024 (<a href="https://arxiv.org/abs/2409.17221">Walker</a> and <a href="https://arxiv.org/abs/2409.11235">SLAck</a>).
</li>
<li>
    <span style="font-weight:bold">[2024/06]</span> I started working as a student researcher in Federico Tombari's team at Google.
</li>
<li>
    <span style="font-weight:bold">[2024/02]</span> 3 papers accepted at CVPR 2024 (<a href="https://matchinganything.github.io/">MASA</a>, <a href="https://lpiccinelli-eth.github.io/pub/unidepth/">UniDepth</a>, and <a href="https://arxiv.org/abs/2404.03658">KYN</a>).
</li>
<li>
    <span style="font-weight:bold">[2023/09]</span> Presenting our test-time adaptive tracker DARTH at ICCV 2023.
</li>
<li>
    <span style="font-weight:bold">[2023/09]</span> Hosting the <a href="https://wvcl.vis.xyz/">1st Workshop on Visual Continual Learning</a> at ICCV 2023.
</li>
</ul>
</section>


