{% include base_path %}


<!-- 3DSNET -->
<tr>
  <td rowspan="5" class="center" style="width: 400px;"><img src="images/thumbnails/3dsnet.png" alt="3dsnet" style="width:400px; height:auto;"></td>
  <td class="bold">3DSNet: Unsupervised Shape-to-Shape 3D Style Transfer</td>
  </tr>
  <tr>
  <td class="italic"><span style="text-decoration: underline;">Mattia Segu</span>, Margarita Grinvald, Roland Siegwart, Federico Tombari</td>
  </tr>
  <tr>
  <td class="thin">Pre-Print, 2020</td>
  </tr>
  <tr>
  <td style="text-align: justify">Transferring the style from one image onto another is a popular and widely studied task in computer vision. Yet, style transfer in the 3D setting remains a largely unexplored problem. To our knowledge, we propose the first learning-based approach for style transfer between 3D objects based on disentangled content and style representations. The proposed method can synthesize new 3D shapes both in the form of point clouds and meshes, combining the content and style of a source and target 3D model to generate a novel shape that resembles in style the target while retaining the source content. Furthermore, we extend our technique to implicitly learn the multimodal style distribution of the chosen domains. By sampling style codes from the learned distributions, we increase the variety of styles that our model can confer to an input shape. Experimental results validate the effectiveness of the proposed 3D style transfer method on a number of benchmarks.</td>
  </tr>
  <tr>
  <td>
    <a href="https://arxiv.org/abs/2011.13388">[arXiv]</a>
    <a href="https://arxiv.org/pdf/2011.13388">[Paper]</a>
    <a href="https://github.com/ethz-asl/3dsnet">[Code]</a>
  </td>
  </tr>


  <!-- Empty row for spacing -->
  <tr>
    <td style="height: 15px; padding: 0;" colspan="2"></td>
  </tr>